<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/assets/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/assets/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">

	<title>Modern Slavery &ndash; What it is, spot the signs, and report slavery</title>

	<meta name="description" content="Read about what Modern Slavery is, who is affected, where slavery exists, how you can spot the signs of slavery and how to report slavery if you suspect it." />

	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="/assets/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!--> 
		<link rel="stylesheet" href="/assets/grids-responsive-min.css">
	<!--<![endif]-->

	<link rel="stylesheet" href="assets/styles/main.css" />

    <script src="/assets/respond.min.js"></script>

	<script src="/assets/modernizr.js"></script>

</head>
<body class="page-home">

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1453365474918548',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="cookie-message-container">
		<div class="cookie-message">
			<p>
				This website uses cookies to allow us to see how the site is used. The cookies cannot identify you. If you continue to use the site we will assume that you are happy with this. If you want to know more you can visit our <a href="cookies.html">cookies policy page.</a>
			</p>
			<div class="cookie-button"><a onclick="createCookie();" href="#">Continue</a></div>
		</div>
    </div>


	<header class="header-primary wrapper fixed">
		<div class="pure-g">
			<div class="pure-u-1"> <!-- pure-u-1-8 -->
				<a href="index.html" class="logo">
					<img src="/assets/logo_full_white.png" width="148" alt="Help Free Britain from Modern Slavery" />
				</a>

				<nav class="nav-primary"> <!-- pure-u-7-8 -->
					<ul>
						<li><a href="index.html" class="on">What is  <br /> <strong>modern slavery</strong><span class="line"></span></a></li>
						<li><a href="who.html"><strong>SLAVERY TYPES</strong> AND<br /> <strong>WHO IS AFFECTED</strong> <span class="line"></span></a></li>
						<li><a href="spot-the-signs.html">Spot<br /> <strong>the signs</strong> <span class="line"></span></a></li>
						<li><a href="report-it.html"><strong>report it</strong> <span class="line"></span></a></li>
						<li><a href="need-help.html">Need <strong>help? </strong> <span class="line"></span></a></li>
						<li class="text-left text-natural">Helpline <br /><span class="text-red f-w-600 f-23 lh-point-9 letter-spacing-minus-1 nowrap">0800 0121 700*</span> <span class="line"></span></li>
					</ul>
				</nav>
			</div>
		</div>

	</header>



	<div class="hero-panel text-black">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="hero-left">
					<h1><span class="text-red">Slavery</span> IS CLOSER THAN YOU THINK</h1>
					<p>
						Slavery is not an issue confined to history or an issue that only exists in certain countries - it is something that is <strong>still happening today</strong>. It is a global problem and the UK is no exception.</p>
					<p class="last"><a class="arrow-down scroll-to" href="#red-panel">What is it/spot the signs</a></p>
				</div>
			</div>
			<div class="pure-u-1-2">
				<div class="hero-video">
					<a
						href="http://youtu.be/yOe2-j3QzKI"
						class="play-button video-player"
						data-video-embed-url="//www.youtube.com/embed/yOe2-j3QzKI?autoplay=1&modestbranding=1&rel=0&showinfo=0&theme=dark"
						data-video-description="<strong>Modern Slavery</strong> is happening closer than you think – watch this TV advert to see for yourself."
						data-video-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more."
						>
						<img src="/assets/icon.play-2x.png" width="103" height="102" alt="Play" /><br />
						Watch this TV advert to see for yourself
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="red-panel wrapper text-white" id="red-panel">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="panel-left">
					<p class="f-48 f-w-400 letter-spacing-minus-3">
<!-- 						Despite being illegal in every country in the world, there are an estimated <br />
						<strong class="f-111 f-w-900 letter-spacing-minus-3 lh-point-9 source-sans text-uppercase">
							27 million slaves &nbsp;<img src="/assets/icon.globe.png" />
						</strong> -->
						It’s a growing issue, affecting men, women and children.<br />
						<strong class="f-101 f-w-900 letter-spacing-minus-3 lh-point-9 source-sans text-uppercase">
						1,746 cases reported
						</strong>
						<!--[if lte ie 7]><br /><![endif]--> <!-- add a line break to text being cut off -->
					</p>
				</div>
			</div>
			<div class="pure-u-1-2">
				<div class="panel-right">
<!-- 					<p class="f-31 f-w-400 letter-spacing-minus-1">
						around the world, and over <strong class="f-51 source-sans">1,700</strong> cases were reported in 2013 in the UK &ndash; but the actual number is likely to be <strong>far higher</strong>.
					</p>
					<p class="f-31 f-w-400 letter-spacing-minus-1">
						A growing problem, reported cases were up <strong class="f-51 source-sans">47%</strong> on 2012.
					</p> -->
					<p class="f-31 f-w-400 letter-spacing-minus-1">in the UK in 2013 - a <strong class="f-51 source-sans">47%</strong> increase on the number of cases reported in 2012<sup>**</sup>.</p>
					<p class="f-31 f-w-400 letter-spacing-minus-1">But these are just the victims we know about. Slavery’s hidden nature means actual numbers are likely to be far, far higher.</p>
					<br /><br /><br /><br />
					<p class="f-14 f-w-400 letter-spacing-minus-1"><sup>**</sup> UK National Referral Mechanism Statistics 2013</p>
				</div>
			</div>
		</div>
	</div>


	<div class="white-panel pure-g text-black f-25">
		<div class="pure-u-1">
			<h2 class="text-center text-black f-51 f-w-900 letter-spacing-minus-3">If you suspect slavery is happening...</h2>
		</div>
		<div class="pure-u-1-4">
			<div class="item item-1">
				<p class="text-center"><img src="/assets/icon.phone.large.png" width="200" height="200" /></p>
				<p class="letter-spacing-minus-1 f-w-400">Call the Police on <strong class="text-red">999</strong> in an emergency, or <strong class="text-red">101</strong> if it is not urgent.</p>
			</div>
		</div>
		<div class="pure-u-1-4">
			<div class="item item-2">
				<p class="text-center"><img src="/assets/icon.phone2.large.png" width="200" height="200" /></p>
				<p class="letter-spacing-minus-1 f-w-400">You can also report it by calling the new Modern Slavery helpline on <strong class="text-red nowrap">0800 0121 700*</strong></p>
			</div>
		</div>
		<div class="pure-u-1-4">
			<div class="item item-3">
				<p class="text-center"><img src="/assets/icon.contact.large.png" width="200" height="200" /></p>
				<p class="letter-spacing-minus-1 f-w-400">
					Using the online form <a href="/contact.html" class="dark"><strong>online form</strong></a>
				</p>
			</div>
		</div>
		<div class="pure-u-1-4">
			<div class="item item-4">
				<p class="text-center"><img src="/assets/icon.person.large.png" width="200" height="200" /></p>
				<p class="letter-spacing-minus-1 f-w-400">If you think you have been a victim, find out how <a href="need-help.html" class="dark"><strong>you can get help</strong></a></p>
			</div>
		</div>
	</div>

	<div class="black-panel text-white wrapper">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="panel-left">
					<p class="f-25 f-w-400 letter-spacing-minus-1 add-margin-bottom">The Universal Declaration of Human Rights 1948 states that</p>
					<p class="f-48 f-w-400 letter-spacing-minus-3">“No one shall be held in slavery or servitude; slavery and the slave trade shall be prohibited in all their forms.”</p>
				</div>
			</div>
			<div class="pure-u-1-2">
				<div class="panel-right">
					<p class="f-25 f-w-400 letter-spacing-minus-1 add-margin-bottom">
						Modern Slavery is an international crime, affecting an estimated <strong>29.8 million slaves</strong> around the world<sup>**</sup>. It is a global problem that transcends age, gender and ethnicities, including here in the UK and it’s important that we bring this hidden crime into the open.
					</p>
					 
					<p class="f-25 f-w-400 letter-spacing-minus-1 add-margin-bottom">
						It can include victims that have been brought from overseas, and vulnerable people in the UK, being forced to illegally work against their will in many different sectors, including brothels, cannabis farms, nail bars and agriculture. <a href="who.html"><strong class="f-w-500">Read more here.</strong></a>
					</p>
					<p class="f-25 f-w-400 letter-spacing-minus-1 add-margin-bottom">
						Read about the Government’s actions to tackle Modern Slavery <a href="https://www.gov.uk/government/publications/modern-slavery-uk-action-to-tackle-the-crime" target="_blank"><strong>here</strong></a>.
					</p>
					<p class="f-14 f-w-400 letter-spacing-minus-1"><sup>**</sup> Source Global Slavery Index</p>
				</div>
			</div>
		</div>
	</div>

	<div class="pure-g more-videos-panel text-black">
		<div class="pure-u-1">
			<h2 class="text-center text-black f-51 f-w-900 letter-spacing-minus-3 add-margin-bottom">More videos</h2>
		</div>
		<div class="pure-u-1-2">
			<div class="panel-left">
				<div class="video add-half-margin-bottom video-1">
					<a 
						href="http://youtu.be/QCpvJ-5OofU"
						class="play-button video-player"
						data-video-embed-url="//www.youtube.com/embed/QCpvJ-5OofU?autoplay=1&modestbranding=1&rel=0&showinfo=0&theme=dark"
						data-video-description="<strong>Modern Slavery</strong> occurs in many sectors including agriculture, domestic servitude, labouring and many others - watch this short video to find out more."
						data-video-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more."
					>

						<img src="/assets/icon.play-2x.png" width="103" height="102" alt="Play" /><br />
						Watch this short video to find out more
					</a>
				</div>
				<dl class="share">
					<dt class="source-sans text-uppercase f-18 f-w-600 letter-spacing-minus-1 lh-point-9">Spread the word:</dt>
					<dd>
						<a
							href="http://youtu.be/QCpvJ-5OofU"
							class="share-button share-fb"
							data-share-description="Modern Slavery occurs in many sectors including agriculture, domestic servitude, labouring and many others - watch this short video to find out more."
							title="Share on Facebook"
						>Facebook</a>
					</dd>
					<dd>
						<a
							href="http://youtu.be/QCpvJ-5OofU"
							class="share-button share-tw"
							data-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more."
							title="Share on Twitter"
						>Twitter</a>
					</dd>
				</dl>
				<p class="description f-25"><strong>Modern Slavery</strong> occurs in many sectors including agriculture</p>
			</div>
		</div>
		<div class="pure-u-1-2">
			<div class="panel-right">
				<div class="video add-half-margin-bottom video-2">
					<a 
						href="http://youtu.be/RS6n2TVv8N8"
						class="play-button video-player"
						data-video-embed-url="//www.youtube.com/embed/RS6n2TVv8N8?autoplay=1&modestbranding=1&rel=0&showinfo=0&theme=dark"
						data-video-description="<strong>Modern Slavery</strong> includes sexual exploitation - watch this short video to find out more."
						data-video-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more."
					>
						<img src="/assets/icon.play-2x.png" width="103" height="102" alt="Play" /><br />
						Watch this short video to find out more
					</a>
				</div>
				<dl class="share">
					<dt class="source-sans text-uppercase f-18 f-w-600 letter-spacing-minus-1 lh-point-9">Spread the word:</dt>
					<dd>
						<a
							href="http://youtu.be/RS6n2TVv8N8"
							class="share-button share-fb"
							data-share-description="Modern Slavery includes sexual exploitation - watch this short video to find out more."
						>Facebook</a>
					</dd>
					<dd>
						<a
							href="http://youtu.be/RS6n2TVv8N8"
							class="share-button share-tw"
							data-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more"
						>Twitter</a>
					</dd>
				</dl>
				<p class="description f-25"><strong>Modern Slavery</strong> includes sexual exploitation</p>
			</div>
		</div>
	</div>

	<div class="page-nav wrapper">
		<div class="pure-g">
			<div class="pure-u-1">
				<!-- 
				<a href="#" class="prev">
					<span class="title">Previous Part</span>
					Who is affected &amp; where
				</a>
				-->

				<a href="who.html" class="next">
					<span class="title">Next Part</span>
					SLAVERY TYPES AND WHO IS AFFECTED
				</a>

			</div>
		</div>
	</div>

	<footer class="footer-primary wrapper">

		<div class="footer-top pure-g">
			<div class="pure-u-6-24"><!-- pure-u-5-24 -->
				<div class="col-1 padding-left">
					<dl class="links">
						<dt>Modern Slavery</dt>
						<dd><a href="index.html" class="on">What is modern slavery</a></dd>
						<dd><a href="who.html">Slavery types and who is affected</a></dd>
						<dd><a href="spot-the-signs.html">Spot the signs</a></dd>
						<dd><a href="report-it.html">Report it</a></dd>
						<dd><a href="need-help.html">Need help?</a></dd>
					</dl>
				</div>
			</div>

			<div class="pure-u-5-24"> <!-- pure-u-1-6 -->
				<dl class="col-2">
					<dt>How to <strong>report it</strong></dt>
					<dd class="icon-phone">
						Modern Slavery Helpline<br />
						<span class="tel bold-red nowrap">0800 0121 700*</span><br />
						24/7
					</dd>

					<dd class="icon-contact">
						Contact us online<br />
						<a href="/contact.html" class="bold-red">Our online form</a>
					</dd>
					<dd class="message">
						*Information submitted via this helpline will be handled by the NSPCC as set out in the <a href="privacy.html">Privacy Policy</a>. This will include calls being recorded and listened to by supervisors
					</dd>
				</dl>
			</div>

			<div class="pure-u-4-24">
				<dl class="col-3">
					<dt>&nbsp;</dt>
					<dd>
						Phone the Police<br />
						<span class="tel bold-red">999</span> for emergencies
					</dd>
					<dd>
						<span class="tel bold-red">101</span> for <br /> non-emergencies, 24/7
					</dd>
					<dd>
						Or Crimestoppers on<br />
						<span class="tel bold-red">0800 555 111</span><br />
						anonymously
					</dd>
				</dl>
			</div>


			<div class="pure-u-5-24">
				<dl class="col-4">
					<dt>Related Resources</dt>
					<dd><a href="https://www.gov.uk/government/collections/modern-slavery" target="_blank">Resources</a> if you work with victims of slavery</dd>
					<dd><a href="advice.html">Resources</a> if you’re an employer</dd>
				</dl>
			</div>

			<div class="pure-u-4-24">
				<dl class="col-5 padding-right">
					<dt>&nbsp;</dt>
					<dd>
						<a href="https://www.gov.uk/government/organisations/home-office" target="_blank" title="Home Office"><img src="/assets/logo.home-office-2x.png" width="115" height="50" alt="Home Office" /></a></dd>
					<dd>SUPPORTED BY</dd>
					<dd><a href="https://donate.nspcc.org.uk/" target="_blank" title="NSPCC"><img src="/assets/logo.nspcc-2x.png" width="115" height="33" alt="NSPCC" /></a ></dd>
				</dl>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="panel-left">
						<p><a class="copyright" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/crown-copyright/" target="_blank">© Crown copyright</a></p>
					</div>

					<div class="panel-right">
						<nav class="nav-footer">
							<ul>
								<li><a href="privacy.html">Privacy Policy</a></li>
								<li><a href="terms.html">Terms &amp; Conditions</a></li>
								<li><a href="accessibility.html">Accessibility</a></li>
								<li><a href="cookies.html">Use of cookies</a></li>
								<li><a href="sitemap.html">Sitemap</a></li>
							</ul>
						</nav>
					</div>
				</div><!--end:.pure-u-->
			</div>
		</div><!--end:.footer-bottom-->
	</footer>



	<!-- COI container tag -->
	<script type="text/javascript">
	//<![CDATA[
	try{
	coi_tag  = '<scr'+'ipt src="';
	coi_tag += (location.protocol == 'https:') ? 'https:' : 'http:';
	coi_tag += '//b3-uk.mookie1.com/3/';
	coi_tag += 'COI/'+location.hostname.toLowerCase();
	coi_tag = coi_tag.replace('www.','');
	try{coi_tag += location.pathname.toLowerCase().replace(/[^a-z0-9/\-_.]/g,'');}catch(e){coi_tag += 'error_caught_in_page_name';}
	if(coi_tag.slice(-1)!='/'){coi_tag+='/';}
	coi_tag += 'COI/1'+Math.floor(Math.random()*1000000000);
	coi_tag += '@x96?';
	try{
	for(name in coi_extended_data){
	coi_tag += '&_RM_HTML_'+escape(name)+'_='+escape(coi_extended_data[name]);
	}
	}catch(e){};
	coi_tag += '" type="text/javascript"></scri'+'pt>';
	document.write(coi_tag);
	}catch(e){}
	//]]>
	</script>
	<!-- /COI container tag -->

	<script type="text/html" id="template-video-player">
		<div class="video-player-contents">

			<div class="pure-g">
				<div class="pure-u-1">

					<div class="padding-left-right">
						<a href="#" class="close">Close</a>

						<br class="clear" />

						<div class="videoWrapper">
							<!-- <div id="ms-video-player--player"></div> -->
							<iframe width="560" height="315" src="<%= embedUrl %>" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="pure-u-1-2">
					<div class="padding-left">
						<div class="video-description"><%= description %></div>
					</div>
				</div>

				<div class="pure-u-1-2">
					<div class="padding-right">
						<dl class="share">
							<dt class="source-sans text-uppercase f-18 f-w-600 letter-spacing-minus-1 lh-point-9">Spread the word:</dt>
							<dd><a href="#" class="share-fb">Facebook</a></dd>
							<dd><a href="#" class="share-tw">Twitter</a></dd>
						</dl>
					</div>
				</div>
			</div>

		</div>
	</script>
	<script src="assets/scripts/cookie.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/assets/jquery.easing.js"></script>
	<script src="/assets/underscore-min.js"></script>
	<script src="/assets/backbone-min.js"></script>
	<script src="/assets/jquery.velocity.min.js"></script>

	<!-- NOTE: don't load velocity UI for <= IE7 -->
	<!--[if (gte IE 8)|!(IE)]><!-->
	<script src="/assets/velocity.ui.min.js"></script>
	<!--<![endif]-->

	<script src="/assets/ms.videoplayer.js"></script>
	<script src="/assets/ms.router.js"></script>
	<script src="/assets/main.js"></script>

</body>
</html>