<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="57x57" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/mstile-144x144.png">
	<title>Types of Slavery, industries where it  exists and who is affected &ndash; Modern Slavery</title>

	<meta name="description" content="Read about child trafficking, forced labour , sexual exploitation  and  the different types of Modern Slavery, who is affected and what industries it exists in" />

	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!--> 
		<link rel="stylesheet" href="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/grids-responsive-min.css">
	<!--<![endif]-->

	<link rel="stylesheet" href="assets/styles/main.css" />

    <script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/respond.min.js"></script>

	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/modernizr.js"></script>

</head>
<body class="page-who">
	
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1453365474918548',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="cookie-message-container">
		<div class="cookie-message">
			<p>
				This website uses cookies to allow us to see how the site is used. The cookies cannot identify you. If you continue to use the site we will assume that you are happy with this. If you want to know more you can visit our <a href="cookies.html">cookies policy page.</a>
			</p>
			<div class="cookie-button"><a onclick="createCookie();" href="#">Continue</a></div>
		</div>
    </div>


	<header class="header-primary wrapper fixed">
		<div class="pure-g">
			<div class="pure-u-1"> <!-- pure-u-1-8 -->
				<a href="index.html" class="logo">
					<img src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/logo_full_white.png" width="148" alt="Help Free Britain from Modern Slavery" />
				</a>

				<nav class="nav-primary"> <!-- pure-u-7-8 -->
					<ul>
						<li><a href="index.html">What is  <br /> <strong>modern slavery</strong><span class="line"></span></a></li>
						<li><a href="who.html" class="on"><strong>SLAVERY TYPES</strong> AND<br /> <strong>WHO IS AFFECTED</strong> <span class="line"></span></a></li>
						<li><a href="spot-the-signs.html">Spot<br /> <strong>the signs</strong> <span class="line"></span></a></li>
						<li><a href="report-it.html"><strong>report it</strong> <span class="line"></span></a></li>
						<li><a href="need-help.html">Need <strong>help? </strong> <span class="line"></span></a></li>
						<li class="text-left text-natural">Helpline <br /><span class="text-red f-w-600 f-23 lh-point-9 letter-spacing-minus-1 nowrap">0800 0121 700*</span> <span class="line"></span></li>
					</ul>
				</nav>
			</div>
		</div>

	</header>


	<div class="hero-panel">
		<div class="pure-g">
			<div class="pure-u-2-3">
				<div class="padding-left padding-top padding-right padding-bottom">
					<h1>SLAVERY TYPES AND WHO IS <span class="text-red">AFFECTED</span></h1>

					<p>
						Victims found in the UK come from many different countries, including Romania, Albania, Nigeria, Vietnam and the UK itself, <strong>90 were UK nationals</strong> in 2013.
					</p>

					<p class="last">
						Poverty, limited opportunities at home, lack of education, unstable social and political conditions, economic imbalances and war are some of the key drivers that contribute to trafficking of victims. What’s more victims can often face more than one type of abuse and slavery, for example if they are sold to another trafficker and then forced into another form of exploitation.
					</p>
				</div>
			</div>
			<div class="pure-u-1-3">
				<div class="padding-left padding-bottom">

				</div>
			</div>
		</div>
	</div>



	<div class="panel-types">
		<div class="pure-g">
			<div class="pure-u-1">
				<h2>Types of slavery include</h2>
				<ul>
					<li>
						<div class="panel-left">
							<h3>CHILD TRAFFICKING</h3>
						</div>
						<div class="panel-right">
							<p>Young people (under 18) are moved either internationally or domestically so they can be exploited.</p>
						</div>
					</li>

					<li>
						<div class="panel-left">
							<h3>FORCED LABOUR/<br />DEBT BONDAGE</h3>
						</div>
						<div class="panel-right">
							<p>
								Victims are forced to work to pay off debts that realistically they never will be able to. Low wages and increased debts mean not only that they cannot ever hope to pay off the loan, but the debt may be passed down to their children.</p>
						</div>
					</li>

					<li>
						<div class="panel-left">
							<h3>FORCED LABOUR</h3>
							<a href="http://youtu.be/QCpvJ-5OofU"
								class="video-player"
								data-video-embed-url="//www.youtube.com/embed/QCpvJ-5OofU?autoplay=1&modestbranding=1&rel=0&showinfo=0&theme=dark"
								data-video-description="<strong>Modern Slavery</strong> occurs in many sectors including agriculture, domestic servitude, labouring and many others - watch this short video to find out more."
								data-video-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more.">
								Advert showing labour exploitation
							</a>
						</div>
						<div class="panel-right">
							<p class="add-margin-bottom">
								Victims are forced to work against their will, often working very long hours for little or no pay in dire conditions under verbal or physical threats of violence to them or their families.
							</p>
							<p>
								It can happen in many sectors of our economy, from mining to tarmacking, hospitality and food packaging. 
							</p>
						</div>
					</li>

					<li>
						<div class="panel-left">
							<h3>SEXUAL EXPLOITATION</h3>
							<a

								href="http://youtu.be/RS6n2TVv8N8"
								class="video-player"
								data-video-embed-url="//www.youtube.com/embed/RS6n2TVv8N8?autoplay=1&modestbranding=1&rel=0&showinfo=0&theme=dark"
								data-video-description="<strong>Modern Slavery</strong> includes sexual exploitation - watch this short video to find out more."
								data-video-share-description="Did you know that slavery exists in the UK? It’s closer than you think. Watch this video to find out more.">
								Advert showing sexual exploitation
							</a>
						</div>
						<div class="panel-right">
							<p>
								Victims are forced to perform non-consensual or abusive sexual acts against their will, such as prostitution, escort work and pornography. Whilst women and children make up the majority of victims, men can also be affected. Adults are coerced often under the threat of force, or another penalty.
							</p>
						</div>
					</li>
					<li>
						<div class="panel-left">
							<h3>CRIMINAL EXPLOITATION</h3>
						</div>
						<div class="panel-right">
							<p>
								Often controlled and maltreated, victims are forced into crimes such as cannabis cultivation or pick pocketing against their will.
							</p>
						</div>
					</li>
					<li>
						<div class="panel-left">
							<h3>DOMESTIC SERVITUDE</h3>
						</div>
						<div class="panel-right">
							<p>
								Victims are forced to carry out housework and domestic chores in private households with little or no pay, restricted movement, very limited or no free time and minimal privacy often sleeping where they work.
							</p>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>

	<div class="red-panel">
		<div class="pure-g">
			<div class="pure-u-1-6">
			</div>

			<div class="pure-u-2-3">
				<h2 class="f-51 f-w-900 letter-spacing-minus-3 lh-point-9 add-margin-bottom">THERE IS NO ONE FACE OF MODERN SLAVERY</h2>
<p class="add-margin-bottom f-28 f-w-400 letter-spacing-minus-1">There is no typical victim of slavery – <strong>victims can be men, women and children of all ages and cut across the population</strong>. But it is normally more prevalent amongst the most vulnerable, minority or socially excluded groups. </p>

<p class="f-28 f-w-400 letter-spacing-minus-1">Read more about <strong>real cases of slavery from the victims</strong> themselves below.</p>

			</div>
		</div>

	</div>



	<div class="pure-g" id="case-studies-anchor">
		<div class="pure-u-1-6">
		</div>

		<div class="pure-u-2-3">

			<div class="case-studies">

				<div class="case-studies-cycle">

					<div class="case-study">
						<h2>Victim of sexual exploitation</h2>

						<p>Serena from Gambia</p>

						<p>When her family arranged for her to marry a man living in the UK, she hoped to find a better life. Instead she found rape and abuse.</p>
						<p>She was only 15 when she arrived and was met by her new ‘husband ‘at the airport. She was disappointed to see that he was much older than herself. On their first night together, he forced himself on her and from that point on she was raped on a daily basis. It soon became clear that this was not the marriage that her parents or she had hoped for.</p>

						<p>Her trafficker kept Serena prisoner in the flat. Groups of men and women would arrive, money would exchange hands and she would be forced to have sex with them. She was drugged to ensure she didn’t fight back and beaten if she disobeyed or closed her eyes as she suffered. One time she woke up to find herself chained to the bed and being gang raped.</p>

						<p>Serena’s living conditions were woeful – she was often locked in a room with no heating, no light and little food. She was eventually taken to different locations in Birmingham and Manchester. She would be driven to isolated buildings, where her suffering continued. She and other young girls would be sexually exploited, often made to dress up and pose for sexual photographs.</p>

						<p>After a number of years, she eventually found the courage and opportunity to escape. She found help through the National Referral Mechanism, where The Salvation Army arranged care for her at a safe house run by Hestia, where she stayed for six months. Since then she has lived with friends. She was granted indefinite leave to remain in the UK. Various charities have helped her work through her trauma and find accommodation.</p>
					</div>


					<div class="case-study">
						<h2>Victim of domestic servitude</h2>

						<p>Brenda from Uganda</p>

						<p>Brenda is from Uganda. She was arrested after a member of the community became suspicious that she was having a same-sex relationship, which is illegal in Uganda. She was transferred to a detention centre where she was repeatedly raped by the guards, had stones and chillies rubbed in her eyes and barrels of water poured over her mouth and nose. Following eight months of rape and torture Brenda became pregnant and was released.</p>

						<p>A friend put her in contact with Imelda, an agent who she was led to believe organised well-paid work abroad. Brenda was told she could work in the UK as a cleaner and send money back to Uganda for her daughter’s education. Her child was left in the care of a family member.</p>

						<p>On arrival in the UK Brenda was told she would be working for ‘Missus’, the female owner of a house. The ‘Missus’ informed her that she now owed her money for bringing her to the UK and had to work to repay her debt.</p>

						<p>Brenda had to clean the entire house every day, with no breaks and no pay. She was locked in the basement at night with nothing to sleep on. She was beaten, had no food and was not allowed outside. Due to the cold conditions Brenda lived in, her limbs became stiff and painful and her damaged eyes deteriorated further from long exposure to darkness.</p>

						<p>After a few months, a young girl who was visiting the house unlocked the door, discovered Brenda and helped her to escape. Brenda was able to get help, support and medical treatment through the UK’s National Referral Mechanism. Brenda was allowed to remain in the UK and now works part-time and has been reunited with her daughter in the UK.</p>
					</div>


					<div class="case-study">
						<h2>Victim of forced labour</h2>

						<p>Albert from Britain</p>

						<p>Albert is a British national. For a lot of his life Albert lived with his mum and worked for a cleaning company. His mother died when he was 57 and it changed everything. He wasn’t able to cope with the responsibilities and, after suffering an emotional and mental breakdown, he eventually became homeless.</p>
						<p>Whilst waiting for a bed at a night shelter, he was approached by two men. They offered him work, accommodation, food and alcohol. Albert was vulnerable and desperate, so he went with the men. Albert was made to share a damp caravan with three other men. He was forced to lay concrete slabs and do other hard landscaping work from 6am to 10pm. He never got the money he was promised. If he complained about his conditions, he was physically assaulted. Sometimes he was forced to sleep outside with no shelter.</p>
						<p>Albert was sold to another family for £3,000 and moved to a different area. He suffered for four more years. He was forced to do many things against his will, such as knocking on doors cold calling for business.</p>
						<p>Whilst working on a tarmac drive, he eventually managed to escape and made his way to London. He asked the transport police for help and they directed him to a homeless unit. Albert was malnourished, disorientated and scared. He was moved to a safe house thanks to The Salvation Army and the Medaille Trust and was eventually able to start the process of recovery. Albert now spends his retirement time volunteering in a charity shop and enjoys the clubs and entertainment where he lives. He is helping police with an ongoing investigation of his trafficking.</p>
					</div>


					<div class="case-study">
						<h2>Victim of forced labour</h2>

						<p>Fredek from Hungary</p>

						<p>Fredek is from Hungary. In 2012 he was looking to make a new start so his friend told him he could earn £2000 a month working in a factory in the UK. He felt that he had nothing to lose, so agreed to go.</p>
						<p>After a two-day journey in a car with three other men, Fredek arrived in the UK. As soon as he arrived at the house, his passport was taken from him and he and the other men were held as prisoners.</p>
						<p>They received physical threats. He was forced to work for £3-5 a week in places such as a pizza restaurant, a chicken factory, selling mobile phones and distributing flyers. Fredek was also forced to steal petrol and scrap metal, and open false bank accounts in his name. He became suicidal, but was too afraid to escape.</p>
						<p>After five months the men started to watch Fredek and the others less, and Fredek overheard them talking about transferring them to another area to be forced to work for other people. Fredek and the others jumped out of a window and ran to the police, who took them to a safe place for their protection.</p>
						<p>Through the National Referral Mechanism and support from The Salvation Army and City Hearts, Fredek was given a safe place to live, access to healthcare and reintegrated into the community. He was also given help to assist the police in prosecuting the men who had enslaved him.</p>

					</div>

					<div class="case-study">
						<h2>Victim of sexual exploitation</h2>

						<p>Anonymous female from Britain</p>

						<p>A young woman aged 17 was a victim of sexual exploitation for four years from the age of 13. She received assistance from the local authority and Barnardo's Cymru Seraf Service has been working with this young person for two years; she exited sexual exploitation fully five months ago.</p>
						<p>She was sexually exploited for four years by someone who she thought of as a ‘family member’. They would drive her around in their car to different houses and areas. Once they were at these locations there would be men there that she didn’t know. She would be given drugs and alcohol and told that she looked grown up and that what they were doing to her was normal and she was the one which was abnormal for making a fuss.</p>
						<p>It would often be arranged by the ‘family member’ for different men who always drove flash cars to pick her up and take her to various houses where she would be given more drugs and alcohol in return for sex. At the time she was being moved around to different addresses and areas she really didn’t think there was anything wrong with it and even thought it quite exciting and she felt grown up. But now she knows it was all a set up and that she was being manipulated and tricked. Now that she is out of the situation and looking in she can see it for what it was ‘sexual exploitation’.</p>
						<p>She feels very angry and tormented that they robbed four years of her childhood.</p>
					</div>


				</div><!--end:.case-studies-cycle-->

				<div class="case-studies-prev">Previous</div>
				<div class="case-studies-next">Next</div>
				<div class="case-studies-pager"></div>

			</div><!--end:.case-studies-->
		</div>
	</div>


	<div class="page-nav wrapper">
		<div class="pure-g">
			<div class="pure-u-1">
				<a href="index.html" class="prev">
					<span class="title">Previous Part</span>
					WHAT IS MODERN SLAVERY
				</a>

				<a href="spot-the-signs.html" class="next">
					<span class="title">Next Part</span>
					SPOT THE SIGNS
				</a>

			</div>
		</div>
	</div>

	<footer class="footer-primary wrapper">

		<div class="footer-top pure-g">
			<div class="pure-u-6-24"><!-- pure-u-5-24 -->
				<div class="col-1 padding-left">
					<dl class="links">
						<dt>Modern Slavery</dt>
						<dd><a href="index.html">What is modern slavery</a></dd>
						<dd><a href="who.html" class="on">Slavery types and who is affected</a></dd>
						<dd><a href="spot-the-signs.html">Spot the signs</a></dd>
						<dd><a href="report-it.html">Report it</a></dd>
						<dd><a href="need-help.html">Need help?</a></dd>
					</dl>
				</div>
			</div>

			<div class="pure-u-5-24"> <!-- pure-u-1-6 -->
				<dl class="col-2">
					<dt>How to <strong>report it</strong></dt>
					<dd class="icon-phone">
						Modern Slavery Helpline<br />
						<span class="tel bold-red nowrap">0800 0121 700*</span><br />
						24/7
					</dd>
					<dd class="icon-contact">
						Contact us online<br />
						<a href="/contact.html" class="bold-red">Our online form</a>
					</dd>
					<dd class="message">
						*Information submitted via this helpline will be handled by the NSPCC as set out in the <a href="privacy.html">Privacy Policy</a>. This will include calls being recorded and listened to by supervisors
					</dd>
				</dl>
			</div>

			<div class="pure-u-4-24">
				<dl class="col-3">
					<dt>&nbsp;</dt>
					<dd>
						Phone the Police<br />
						<span class="tel bold-red">999</span> for emergencies
					</dd>
					<dd>
						<span class="tel bold-red">101</span> for <br /> non-emergencies, 24/7
					</dd>
					<dd>
						Or Crimestoppers on<br />
						<span class="tel bold-red">0800 555 111</span><br />
						anonymously
					</dd>
				</dl>
			</div>

			<div class="pure-u-5-24">
				<dl class="col-4">
					<dt>Related Resources</dt>
					<dd><a href="https://www.gov.uk/government/collections/modern-slavery" target="_blank">Resources</a> if you work with victims of slavery</dd>
					<dd><a href="advice.html">Resources</a> if you’re an employer</dd>
				</dl>
			</div>
			<div class="pure-u-4-24">
				<dl class="col-5 padding-right">
					<dt>&nbsp;</dt>
					<dd>
						<a href="https://www.gov.uk/government/organisations/home-office" target="_blank" title="Home Office"><img src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/logo.home-office-2x.png" width="115" height="50" alt="Home Office" /></a></dd>
					<dd>SUPPORTED BY</dd>
					<dd><a href="https://donate.nspcc.org.uk/" target="_blank" title="NSPCC"><img src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/logo.nspcc-2x.png" width="115" height="33" alt="NSPCC" /></a ></dd>
				</dl>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="panel-left">
						<p><a class="copyright" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/crown-copyright/" target="_blank">© Crown copyright</a></p>
					</div>

					<div class="panel-right">
						<nav class="nav-footer">
							<ul>
								<li><a href="privacy.html">Privacy Policy</a></li>
								<li><a href="terms.html">Terms &amp; Conditions</a></li>
								<li><a href="accessibility.html">Accessibility</a></li>
								<li><a href="cookies.html">Use of cookies</a></li>
								<li><a href="sitemap.html">Sitemap</a></li>
							</ul>
						</nav>
					</div>
				</div><!--end:.pure-u-->
			</div>
		</div><!--end:.footer-bottom-->
	</footer>

	<script type="text/html" id="template-video-player">
		<div class="video-player-contents">

			<div class="pure-g">
				<div class="pure-u-1">

					<div class="padding-left-right">
						<a href="#" class="close">Close</a>

						<br class="clear" />

						<div class="videoWrapper">
							<!-- <div id="ms-video-player--player"></div> -->
							<iframe width="560" height="315" src="<%= embedUrl %>" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

				<div class="pure-u-1-2">
					<div class="padding-left">
						<div class="video-description"><%= description %></div>
					</div>
				</div>

				<div class="pure-u-1-2">
					<div class="padding-right">
						<dl class="share">
							<dt class="source-sans text-uppercase f-18 f-w-600 letter-spacing-minus-1 lh-point-9">Spread the word:</dt>
							<dd><a href="#" class="share-fb">Facebook</a></dd>
							<dd><a href="#" class="share-tw">Twitter</a></dd>
						</dl>
					</div>
				</div>
			</div>

		</div>
	</script>
	<script src="assets/scripts/cookie.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/jquery.easing.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/jquery.cycle2.min.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/underscore-min.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/backbone-min.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/jquery.velocity.min.js"></script>

	<!-- NOTE: don't load velocity UI for <= IE7 -->
	<!--[if (gte IE 8)|!(IE)]><!-->
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/velocity.ui.min.js"></script>
	<!--<![endif]-->

	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/ms.videoplayer.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/ms.casestudies.js"></script>
	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/ms.router.js"></script>

	<script src="https://eb6b937f66f486c0e282-3d5c58dfea4eabc60180ac6f4bc6e3c0.ssl.cf3.rackcdn.com/main.js"></script>


</body>
</html>